#board,
#board * {
    -webkit-user-drag: none;
    -khtml-user-drag: none; 
    -moz-user-drag: none;   
    -o-user-drag: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 0.5vmin solid black;
    width: 70vmin;
    height: 70vmin;
    margin: auto;
    /* Prevent text selection inside board */
    user-select: none;
}

/* Each square */
.square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Light and dark colors */
.light {
    background-color: #eafad7;
}

.dark {
    background-color: #43c4a0;
}

.selected {
    background-color: grey;
}

.piece {
    width: 95%; /* 80% of square width */
    height: 95%;
    position: absolute;
    object-fit: contain;
    pointer-events: auto;
}

.moves {
    width: 25%;
    height: 25%;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.dragging-piece {
    position: fixed;
    pointer-events: none;
    z-index: 1000;
}

.file-label {
    position: absolute;
    bottom: 0px;
    right: 4px;
    font-size: 1.5vmin;
    pointer-events: none;
}

.rank-label{
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 1.5vmin;
    pointer-events: none;
}

.light-text {
    color: #eafad7;
}

.dark-text {
    color: #43c4a0;
}