#board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 4px solid black;
    width: 480px;
    height: 480px;
    margin: 20px auto;
    /* Prevent text selection inside board */
    user-select: none;
}

/* Each square */
.square {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Light and dark colors */
.light {
    background-color: #eafad7;
}

.dark {
    background-color: #43c4a0;
}

.selected {
    background-color: grey;
}

.piece {
    width: 95%; /* 80% of square width */
    height: 95%;
    position: absolute;
    object-fit: contain;
    pointer-events: auto;
}

.moves {
    width: 25%; /* 80% of square width */
    height: 25%;
    position: absolute;
    object-fit: contain;
    pointer-events: none;
}

.dragging-piece {
    -webkit-user-drag: none;
    position: fixed;
    width: 60px;
    height: 60px;
    pointer-events: none;
    z-index: 1000;
}